#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20%;
    text-align: center;
    gap: 20px;
    background-color: #DBDBDB1A;
    border-top: 1px solid #c7c7c7;
}
#about h1 {
    font-size: 35px;
}
#about-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}
.about-item--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* .about-item--card p {
    margin-top: 10px;
} */
.about-links {
    margin-top: 10px;
}
.about-links a {
    color: #000;
    font-weight: 600;
}
.about-links p {
    color: #6c6c6c;
    margin-top: 10px;
} 


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    #about {
        padding: 20px 10%;
        gap: 0px;
    }
    #about h1 {
        font-size: 25px;
    }
    .about-item--card {
        gap: 0;
    }
    .about-item--card h6 {
        font-size: 14px;
    }
    .about-item--card p {
        font-size: 12px;
        line-height: 18px;
    }
    .about-item--card img {
        width: 100px;
    }
    #about-item {
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
        /* gap: 40px; */
    }
}