#illustration {
    background-image: url("../../assets/illus.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    padding: 0 10%;
}
#illustration>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#illustration img {
    width: 500px;
}


.money h1 {
    font-size: 50px;
    font-weight: 600;
    margin-right: 10px;
    color: #D77474;
}
.money p {
    color: #6c6c6c;
    font-size: 24px;
    position: relative;
    text-decoration: line-through;
}
.money {
    display: flex;
    align-items: baseline;
}



@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    #illustration img {
        width: 120px;
    }
    #illustration {
        gap: 10px;
        padding: 20px 8%;
    }
    #illustration > div:first-child > h1 {
        font-size: 30px;
    }
    #illustration h4 {
        font-size: 18px;
    }
    #illustration a {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
    #illustration p {
        font-size: 12px;
    }
    #illustration>div:first-child {
        gap: 10px;
    }

    .money h1 {
        font-size: 20px;
        white-space: nowrap;
        margin-right: 5px;
    }
    .money p {
        font-size: 12px;
        white-space: nowrap;
    }
    .money {
        display: flex;
        align-items: baseline;
    }
}