#outro {
    /* background-image: url('../../assets/delivery.webp');
    background-repeat: no-repeat;
    background-size: cover; */
    background: rgb(13,23,35);
    background: linear-gradient(180deg, rgba(13,23,35,1) 0%, rgba(20,73,81,1) 100%);
    display: flex;
    padding: 50px 10%;
    justify-content: space-between;
    align-items: center;
}
#outro > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#outro > img {
    width: 50%;
    filter: invert(1);
}
#outro h1 {
    color: #fff;
}
#outro p {
    font-weight: 700;
    color: rgb(227, 227, 227);
}
#outro a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    #outro {
        padding: 30px 5% 30px 5%;
    }
    #outro h1 {
        font-size: 24px;
    }
    #outro p {
        font-size: 12px;
        line-height: 14px;
    }
    #outro a {
        font-size: 12px;
        height: 40px;
        width: 120px;
    }
}