#outro {
    background-image: url('../../assets/delivery.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 150px 55% 150px 10%;
    gap: 20px;
}
#outro p {
    font-weight: 700;
}
#outro a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    #outro {
        padding: 30px 30% 30px 5%;
    }
    #outro h1 {
        font-size: 24px;
    }
    #outro p {
        font-size: 12px;
        line-height: 14px;
    }
    #outro a {
        font-size: 12px;
        height: 40px;
        width: 120px;
    }
}