#price {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    padding: 100px 10%;
    align-items: center;
    /* background-color: #f14635; */
    color: #fff;
}
#price h1 {
    font-size: 43px;
    letter-spacing: 8px;
}
#price p {
    font-weight: 500;
}
#price p:first-child {
    font-size: 13px;
}
#price p:last-child {
    font-size: 18px;
    letter-spacing: .5px;
}
/* #price h2 {
    font-size: 40px;
    font-weight: 700;
}
#price span {
    display: flex;
    width: 100%;
    height: 4px;
    background-color: #D77474;
} */

/* #price p:before {
	content: "";
	border-bottom: 2px solid #D77474;
	position: absolute;
	width: 120%;
    left: -10%;
	height: 50%;
	transform: rotate(5deg);
} */
/* #price img {
    width: 20%;
} */

@media screen and (max-width: 575px) {
    #price {
        width: 250px;
        margin: 30px auto 10px;
        /* gap: 10px; */
        padding: 0;
    }
    /* #price h1 {
        font-size: 20px;
    }
    #price h2 {
        font-size: 20px;
    }
    #price span {
        display: flex;
        width: 100%;
        height: 2px;
        background-color: #D77474;
    }
    #price p {
        color: #6c6c6c;
        font-size: 13px;
        position: relative;
    }*/
    #price img {
        width: 250px;
        border-radius: 20px;
    }
}